@import "https://fonts.googleapis.com/css?family=Roboto:300,400,700";
/*Text colors */
h1 {
  font-size: 8em !important;
  font-weight: 400;
  color: #FCF8FB !important;
}

h2 {
  font-size: 3.5em !important;
  font-weight: 400 !important;
  color: #FCF8FB !important;
}

h3 {
  font-size: 7.5em !important;
  font-weight: 300 !important;
  color: #FCF8FB !important;
  letter-spacing: -1px;
}

h4 {
  font-size: 3.75em !important;
  font-weight: 300 !important;
  color: #4C88A2 !important;
  letter-spacing: -1px;
}

h5 {
  font-size: 2.6em !important;
  font-weight: 300 !important;
  color: #252627 !important;
  letter-spacing: -1px;
}

h6 {
  font-size: 1.16em !important;
  font-weight: 300 !important;
  color: #4C88A2 !important;
  letter-spacing: -1px;
}

p {
  font-size: 1.6em !important;
  font-weight: 400 !important;
  color: #252627 !important;
  letter-spacing: -1px;
}

/*Text colors */
body, html {
  min-height: 100%;
  position: relative;
}

.index {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("../img/backgrounds/indexBack.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div#title_lbg_bg {
  position: fixed;
  top: 60%;
  width: 100%;
}
div#title_lbg_bg h1 {
  padding-left: 15%;
  font-family: "Roboto";
}
div#title_lbg_bg h1 #big_title {
  background-color: #FBB844;
  box-shadow: 0px 1px 1.5px 1px grey;
}
div#title_lbg_bg h2 {
  padding-left: 20%;
  font-family: "Roboto" !important;
}

.social_menu {
  left: 0 !important;
  position: fixed;
  height: 100%;
}
.social_menu a i {
  color: white;
}
.social_menu a i:hover {
  color: #4C88A2;
  text-decoration: none;
}

.social_menu_other {
  left: 0 !important;
  position: fixed;
  top: 40%;
}

.social_menu_other a i {
  color: white;
}

.social_menu_other a i:hover {
  color: #4C88A2;
  text-decoration: none;
}

div#title h4 {
  padding-top: 2%;
  width: 100%;
  margin-bottom: 2%;
  font-family: "Roboto";
  color: #4C88A2;
}
div#title p {
  margin-left: 12%;
  margin-right: 12%;
  font-family: "Roboto";
  color: #4C88A2;
}

.about_best {
  position: relative;
  overflow: hidden;
  padding-bottom: 1%;
  background: url("../img/backgrounds/Downloads-01.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.best_blue {
  background-color: #4C88A2;
}

.about_best_beograd {
  position: relative;
  overflow: hidden;
  padding-bottom: 1%;
  background: url("../img/backgrounds/erfwef-01.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.best_yellow {
  background-color: #FBB844;
}

.board {
  position: relative;
  overflow: hidden;
  padding-bottom: 1%;
  background: url("../img/backgrounds/erfwef-01.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

div.board img {
  width: 9.375em;
  height: 9.375em;
  margin-top: 15%;
}
div.board img circle {
  border-radius: 50%;
}
div.board h6 {
  padding-top: 10%;
}

.button {
  background-color: #FBB844;
  border: none;
  color: white;
  padding: 0.0625em 0.4375em;
  text-align: center;
  margin: 3.125em 1.25em;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 1.875em;
  font-weight: 300;
}
