// Google Fonts
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,700";


// Imports

@import "partials/typography";
//@import "partials/buttons";
@import "partials/colors";


//Variables



$body_img: (
		'index': '../img/backgrounds/indexBack.png',
		'news' : '../img/backgrounds/indexBack.png'
	);
$roboto:"Roboto";



body, html{
  
  min-height: 100%;
  position: relative;
  
  
}

@mixin body_background($img) {
	width: 100%;
	height: 100%;
	overflow:hidden;
	background: url($img);
	background: {
		size: cover;
		position: center;
		repeat: no-repeat;
	};
  
}



.index{

	@include body_background(map-get($body_img, 'index')); 
	
}



// --------------- index page title -------------------




div#title_lbg_bg {
	position: fixed;
	top:60%;
	width: 100%;
	
	
	h1{
		padding-left: 15%;
		font-family: $roboto;
		#big_title {
			background-color: $yellow;
			box-shadow: 0px 1px 1.5px 1px grey;
		}
	}

	h2 {
		padding-left: 20%;
		font-family: $roboto !important;
		color:$blue !important;
	}
}



// --------------- social side bar --------------

	
.social_menu{
	left:0 !important;
	position: fixed;
	height: 100%;


	a i {
	color:white;

	&:hover { 
		color:$blue;
		text-decoration: none;
		}
	}
	
}

// --------------- social side bar other --------------

.social_menu_other {
  left: 0 !important;
  position: fixed;
  height: 100%;
  margin-top: 50%;

  
}

.social_menu_other a i {
  color: white;
}

.social_menu_other a i:hover {
  color: #4C88A2;
  text-decoration: none;
}

//-----------------------------about us----------------------

div#title{
	
	h4{
		
		padding-top:2%;
		width: 100%;
		margin-bottom: 2%;
		font-family: $roboto;
		color: $blue;
		}

	p{
		
		margin-left: 12%;
		margin-right: 12%;
		font-family: $roboto;
		color: $blue;
	}
	}




$about_best_back_img: '../img/backgrounds/Downloads-01.png';
$roboto:"Roboto";



%about_best_class{
	
	position: relative;
	overflow:hidden;
	padding-bottom: 1%;
	background: url($about_best_back_img);
	background: {
		size: 100% 100%;
		position: center;
		repeat: no-repeat;
	};

	
}

.about_best{
	@extend %about_best_class; 
}


.best_blue{
	background-color: $blue;
}



$about_best_beograd_back_img: '../img/backgrounds/erfwef-01.png';
$roboto:"Roboto";



%about_best_beograd_class{
	
	position: relative;
	overflow:hidden;
	padding-bottom: 1%;
	background: url($about_best_beograd_back_img);
	background: {
		size: 100% 100%;
		position: center;
		repeat: no-repeat;
	};

	
}

.about_best_beograd{
	@extend %about_best_beograd_class; 
}


.best_yellow{
	background-color: $yellow;
}






$board_back_img: '../img/backgrounds/erfwef-01.png';
$roboto:"Roboto";



%board_class{
	
	position: relative;
	overflow:hidden;
	padding-bottom: 1%;
	background: url($board_back_img);
	background: {
		size: 100% 100%;
		position: center;
		repeat: no-repeat;
	};

	
}

.board{
	@extend %board_class; 
}


div.board{
	img{
	width: 150px;
	height: 150px;
	margin-top: 4%;
	circle{
		border-radius: 50%;
	}

	}
}