//Typography Partials

@import "colors";

// Font-Weight

$light: 300;
$regular: 400;
$bold: 700;

//Font Size

$h1-size: 8em; // 
$h2-size: 3.5em; // 60pt
$h3-size: 7.5em ; // numbers in countTo
$h4-size: 3.75em; // headings (ex. BEST)
$h5-size: 2.6em; //  txt in countTo plugin
$h6-size: 1.16em ; // positions of members of board
$p-size: 1.6em; // txt in paragraphs, copyright, names of member of board
$nav-size: 1.3em;  // 


//Typography

h1 {
	font-size: $h1-size !important;
	font-weight: $regular;
	color: $light_primary!important;
}

h2{
	font-size: $h2-size !important;
	font-weight: $light!important;
	color:$blue !important;
	letter-spacing: -1px;
}

